flask
gunicorn
python-dotenv
pypdf
faiss-cpu
requests
# Stable versions for Python 3.11
pydantic==2.6.4
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==0.0.11
langchain-text-splitters==0.0.1